---
import { t } from 'i18n:astro'
---

<section>
  <h1 class="text-3xl font-bold text-neutral">
    {t('home.hero.title.first')}
    {t('home.hero.title.second')}
    {t('home.hero.title.third')}
    {t('home.hero.title.fourth')}
  </h1>
</section>
